<p id="notice"><%= notice %></p>

<p>
  <strong>Rank:</strong>
  <%= @medal.rank %>
</p>

<p>
  <strong>Nation:</strong>
  <%= @medal.nation %>
</p>

<p>
  <strong>Gold:</strong>
  <%= @medal.gold %>
</p>

<p>
  <strong>Silver:</strong>
  <%= @medal.silver %>
</p>

<p>
  <strong>Bronze:</strong>
  <%= @medal.bronze %>
</p>

<p>
  <strong>Total:</strong>
  <%= @medal.total %>
</p>

<%= link_to 'Edit', edit_medal_path(@medal) %> |
<%= link_to 'Back', medals_path %>
